body{
  display: flex;
  justify-content: center;
  font: normal 14px Arial;
  background-color: #f9fbfd;
  height: 100vh;
  color: #a2b0b8;
}

input{
  padding: 15px;
  outline-width: 1px;
  border: 1px solid #dde4e8;
  color: #a2b0b8;
}

label{
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7em;
}

#username, #email{
  width: 100%;
}

.warning{
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7em;
}

.form{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.submit-button{
  background-color: #5ad678;
  border: none;
  color: white;
  width: 100%;
  font-size: .8em;
  text-transform: uppercase;
  border-radius: 2px;
  line-height: 3;
}

.submit-button:disabled{
    opacity: .5;
    cursor: not-allowed;
}

.form-column{
  display: flex;
  justify-content: space-between;
  gap: 10%;
  flex-wrap: wrap;
  margin: 7px 0 15px 0;
}

.input-field{
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  padding: inherit;
  justify-content: center;
}

.error-message{
  color: red;
  font-size: 12px;
  line-height: 30px;
}

.input-error{
  border: 1px solid red;
}